* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media(max-width:500px){
    .tamanho{width: 100%;}
}

h1 {
    text-align: center;
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

form {
    background-color: rgba(47, 79, 79, 0.459);
    width: 400px;
    margin: 0 auto;
    border: 3px solid;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    color: white;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/ds.jpg);
  
}